body
{
	font-family: verdana;
	font-weight: normal;
	font-size: 10pt;
	margin:0px;
}
table, th, td
{
	font-weight: normal;
	font-size: 100%;
}
pre
{
	font-family: monospace,courier new;
	font-weight: normal;
	font-size: 100%;
	background: whitesmoke;
	color: black;
}
.code
{
	font-family: monospace,courier new;
	font-weight: bold;
	font-size: 100%;
	background: whitesmoke;
	color: darkblue;
}
h1
{
	margin-top: 5pt;
	margin-bottom: 8pt;
	padding: 4px;
	font-weight: bold;
	font-size: 140%;
	color: navy;
	background-color: #eeeeee;
	text-align: center;
}
h2
{
	margin-top: 5pt;
	margin-bottom: 0pt;
	font-weight: bold;
	font-size: 120%;
	color: maroon;
	padding-top: 0pt;
}
h3
{
	margin-top: 7pt;
	font-weight: bold;
	font-size: 105%;
	margin-bottom: 2px;
	padding-bottom: 0px;
	color: steelblue;
	padding-top: 0px;
}
h4
{
	margin-top: 0px;
	font-weight: 800;
	font-size: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: black;
	padding-top: 0px;
}
ul, ol
{
	margin-bottom: 0px;
	margin-top: 5px;
	padding-bottom: 0px;
	padding-top: 0px;
}
hr
{
	color: darkblue;
	background: darkblue;
	border: 0;
	height: 1px;
}
table
{
	border-collapse: collapse;
}
td
{
}
th
{
	background: steelblue;
	color: white;
	font-weight: bold;
	height: 23px;
}
small
{
	font-size: 8pt;
}
.alternaterow
{
	background-color: lavender;
}
.banner
{
	font-size: 100%;
	border: 0px;
	border-bottom: inset 1px silver;
	background-color: #9ccfff;
	padding:5px;
}
.projectname
{
	font-size: 8pt;
	font-style: italic;
}
.topicname
{
	font-size: 100%;
	font-weight: bold;
}
.hotlinkbox
{
	position: absolute;
	left: -10px;
	top: 20px;
	margin-left: 10pt;
	background: cornsilk;
	border: solid 1px darkblue;
	width: auto;
	padding: 10px;
	padding-right: 35px;
	font-size: 8pt;
}
.seealsotopics
{
	margin-left:10px;
	margin-top: 3px;
	line-height: 11pt;
}
.contentpane
{		
	margin-left: 20px;
	margin-right: 15px;
}
.syntaxbox
{
	border: solid 1px black;
	padding: 7px;
	margin-right: 10px;
	font-weight: bold;
	background: whitesmoke;
	overflow: hidden;
}
.notebox
{
	background: lightblue;
	padding: 10px;
	border: solid 1px navy;
	margin: 5px 40px 15px 30px;
	font-size: 8pt;
}
.outdent, .outdentmargin
{
	margin-left: -10px;
}
.outdentmargin
{
	margin-bottom: 8px;
}
table.detailtable
{
	border-style: solid;
	border-width: 1px;
	border-color: steelblue;       
}
.detailtable
{
	font-size: 8pt;
}
.tocbody
{
	font-size: 8pt;
}
/* general code parsing */
.codec1
{
	color: blue;
}
.codec2
{
	color: blue;
	font-weight: bold;
}
.codec3
{
	color: blue;
}
.codec4
{
	color: blue;
}
.codec5  / * literal */
{color: yellow;}
.codec6
{
	color: blue;
}
.codec7
{
	color: blue;
}
.codec8
{
	color: blue;
}
.codec9
{
	color: blue;
}
.codec10
{
	color: blue;
}
.codecomment
{
	color: green;
}
.codestring
{
	color: teal;
}
.codestrong
{
	border: black solid 1px;
	background-color: #ffd700;
	padding-left: 1px;
	padding-right: 1px;
}
.codestrike
{
	text-decoration: line-through;
}
/* custom language styles that are attached to the wordfile.txt languages */
.vfpcode .programcontrol
{
	color: blue;
}
.vfpcode .functions
{
	color: blue;
}
.vfpcode .commands
{
	color: blue;
}
.vfpcode .methods
{
	color: blue;
}
.vfpcode .properties
{
	color: blue;
}
.vfpcode .classes
{
	color: red;
	font-size: 120%;
	font-variant: small-caps;
}
.vfpcode .events
{
	color: #483d8b;
}
.vfpcode .systemvars
{
	color: blue;
}
.vbcode .constants
{
	color: blue;
	font-face: bold;
}
.vbcode .datatypes
{
	color: darkblue;
	font-face: bold;
}
.vbcode .keywords
{
	color: blue;
}
.vbcode .statements
{
	color: blue;
}
.vbcode .functions
{
	color: blue;
}
.vbcode .depracated
{
	color: grey;
	font-size: 120%;
	font-variant: small-caps;
}
.csharpcode .programcontrol
{
	color: blue;
}
.csharpcode .datatypes
{
	color: blue;
}
.csharpcode .literals
{
	color: darkblue;
}
.csharpcode .operators
{
	color: blue;
}
.csharpcode .preprocessor
{
	color: lightblue;
}
.htmlcode .elements
{
	color: darkred;
}
.htmlcode .attributes
{
	color: red;
}
.htmlcode .codestring
{
	color: teal;
	background: ;
}
.xmlcode .elements
{
	color: darkred;
}
.xmlcode .attributes
{
	color: red;
}
.xmlcode .commands
{
	color: darkred;
	font-weight: bold;
}
.xmlcode .codestring
{
	color: teal;
	background: ;
}